<div class="row">
        <div class="col-md-5">
          <div class="section-subheading">Interests</div>
          <ul class="ul-interests mb-0">
            <li>Artificial Intelligence</li>
            <li>Livestock Farming</li>
            <li>Deep Learning</li>
            <li>Natural Language Processing</li>
          </ul>
        </div>
        
        <div class="col-md-7">
          <div class="section-subheading">Education</div>
          <ul class="ul-edu fa-ul mb-0">
            
            <!-- <li>
              <i class="fa-li fas fa-graduation-cap"></i>
              <div class="description">
                <p class="course">PhD in Computer Science</p>
                <p class="institution">University Bourgogne Franche-Comté (UBFC)</p>
              </div>
            </li> -->
  
            <li>
              <i class="fa-li fas fa-graduation-cap"></i>
              <div class="description">
                <p class="course">MSc in Computer science and Technology</p>
                <p class="institution">Shandong Agricultural University</p>
              </div>
            </li>

            <li>
              <i class="fa-li fas fa-graduation-cap"></i>
              <div class="description">
                <p class="course">BEng in Computer science and Technology</p>
                <p class="institution">Xuchang University</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
